[Unit]
Description=Linux Wallpaper Engine
PartOf=graphical-session.target

[Service]
ExecStart=%h/.config/niri/launch-wallpaper.sh
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
